Desktop/ChatBot_usos_de_voz.git/flows.json
[{"id":"bcba5651.986b58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0ee8e25.3be5c","type":"watson-conversation-v1","z":"bcba5651.986b58","name":"","workspaceid":"8775d1c5-8dcd-4cd9-9207-a8f3348268f7","multiuser":true,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":750,"y":141,"wires":[["b25775ce.4e59a8","bb2dded1.377fd"]]},{"id":"423a9171.373f7","type":"watson-speech-to-text","z":"bcba5651.986b58","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"fIcuBGHhzoiKNZ85aFgO4ySO6XIu7bjJpOaQ390jU49T","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":404,"y":158,"wires":[["75cda873.0b1be8"]]},{"id":"e0c4305d.f06bb","type":"watson-text-to-speech","z":"bcba5651.986b58","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"pt-BR_IsabelaVoice","format":"audio/wav","password":"","apikey":"REX3RlTUux4tRAf07fRll8BN7cqURFmCfgwT7JmIaNs1","payload-response":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":162,"y":323,"wires":[["b358a2aa.1e29e"]]},{"id":"b772462b.61fa38","type":"http in","z":"bcba5651.986b58","name":"","url":"/chat","method":"get","upload":false,"swaggerDoc":"","x":113.5,"y":96,"wires":[["22cdd97d.d73e16"]]},{"id":"2bc2d4f9.bd501c","type":"http response","z":"bcba5651.986b58","name":"","statusCode":"","headers":{},"x":807,"y":231,"wires":[]},{"id":"22cdd97d.d73e16","type":"change","z":"bcba5651.986b58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.mensagem","tot":"msg"},{"t":"set","p":"user","pt":"msg","to":"req.query.usuario","tot":"msg"},{"t":"set","p":"res","pt":"flow","to":"res","tot":"msg"},{"t":"set","p":"audio","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":279,"y":96,"wires":[["859ca734.f47f48"]]},{"id":"3d6c7c69.897e44","type":"function","z":"bcba5651.986b58","name":"Response","func":"response = [];\nfor(x=0;x<msg.payload.output.text.length;x++)\n{\n    response[x] = {\"text\":msg.payload.output.text[x]};\n}\nmsg.payload =response;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":231,"wires":[["6c17556f.446b7c"]]},{"id":"859ca734.f47f48","type":"switch","z":"bcba5651.986b58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"https://cdn.fbsbx.com","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":442,"y":96,"wires":[["5c9dcecf.070ee"],["75cda873.0b1be8"]]},{"id":"b4652a19.76f508","type":"link out","z":"bcba5651.986b58","name":"Convert","links":["8fc92f7c.d1abd"],"x":716,"y":90,"wires":[]},{"id":"8fc92f7c.d1abd","type":"link in","z":"bcba5651.986b58","name":"Convert-in","links":["b4652a19.76f508"],"x":73,"y":158,"wires":[["30c42bef.8c6734"]]},{"id":"5c9dcecf.070ee","type":"function","z":"bcba5651.986b58","name":"Audio=true","func":"flow.set(\"audio\",true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":605,"y":90,"wires":[["b4652a19.76f508"]]},{"id":"bb2dded1.377fd","type":"switch","z":"bcba5651.986b58","name":"","property":"audio","propertyType":"flow","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":116,"y":239,"wires":[["3d6c7c69.897e44"],["afdd9648.168e28"]]},{"id":"b358a2aa.1e29e","type":"function","z":"bcba5651.986b58","name":"Create Unique ID","func":"flow.set(\"idAudio\",0);\nflow.set(\"idAudio\", Math.floor((Math.random() * 100000000000) + 1));\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":323,"wires":[["bcface7d.16a76"]]},{"id":"337e6076.e2b1d","type":"http in","z":"bcba5651.986b58","name":"","url":"/facebook/speech","method":"get","upload":false,"swaggerDoc":"","x":165.5,"y":443,"wires":[["ae53c7ba.8c2028"]]},{"id":"4030a780.ec19d8","type":"http response","z":"bcba5651.986b58","name":"","statusCode":"","headers":{"content-type":"audio/mpeg3"},"x":673.5000038146973,"y":443.42852687835693,"wires":[]},{"id":"ae53c7ba.8c2028","type":"change","z":"bcba5651.986b58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.query.audioid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":376.2142639160156,"y":443.07142543792725,"wires":[["596c3b6e.c4ec54"]]},{"id":"596c3b6e.c4ec54","type":"function","z":"bcba5651.986b58","name":"Response","func":"for(var k in flow.get(\"speech\")) {\n  if (flow.get(\"speech\")[k]._id == msg.payload) \n    {\n      msg.payload = flow.get(\"speech\")[k].speech;\n// Delete an item\n      flow.get(\"speech\").splice(k,1);\n      break;\n    } \n  }\nreturn msg;\n\n//msg.payload = Buffer.from(msg.payload.audio, 'utf8');\n//return msg;","outputs":1,"noerr":0,"x":541.6190567016602,"y":443.4285430908203,"wires":[["4030a780.ec19d8"]]},{"id":"822342ea.b7682","type":"function","z":"bcba5651.986b58","name":"Save in session","func":"var url = \"https://\" + msg.req.headers.host;\n\nif(!flow.get(\"speech\"))\n{\n    flow.set(\"speech\",[]);\n    flow.set(\"speech[0]\",{_id:flow.get(\"idAudio\").toString(),speech:msg.payload});\n}\nelse\n{\n    var pos;\n    pos = flow.get(\"speech\").length;\n    flow.set(\"speech[\" + pos + \"]\",{_id:flow.get(\"idAudio\").toString(),speech:msg.payload});\n}\n\nmsg.payload = [{\"attachment\":{\n    \"type\":\"audio\",\n    \"payload\":{\"url\":url+ \"/facebook/speech?audioid=\"+flow.get(\"idAudio\").toString()}\n    }\n}];\nreturn msg;","outputs":1,"noerr":0,"x":717,"y":323,"wires":[["6c17556f.446b7c"]]},{"id":"6c17556f.446b7c","type":"function","z":"bcba5651.986b58","name":"Restore state","func":"msg.res = flow.get(\"res\");\nflow.set(\"audio\",false);\nreturn msg;","outputs":1,"noerr":0,"x":644,"y":231,"wires":[["2bc2d4f9.bd501c"]]},{"id":"209aaf9e.3d038","type":"comment","z":"bcba5651.986b58","name":"Callback for facebook","info":"","x":167,"y":406,"wires":[]},{"id":"75cda873.0b1be8","type":"function","z":"bcba5651.986b58","name":"","func":"msg.additional_context = \n{\"nome\":msg.req.query.nome,\n \"sobrenome\":msg.req.query.sobrenome};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":576,"y":138,"wires":[["e0ee8e25.3be5c"]]},{"id":"b25775ce.4e59a8","type":"debug","z":"bcba5651.986b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":499,"wires":[]},{"id":"30c42bef.8c6734","type":"ffmpeg-conversion","z":"bcba5651.986b58","name":"MP3 -> WAV","format":"wav","audiochannels":"mono","x":186,"y":158,"wires":[["423a9171.373f7"]]},{"id":"bcface7d.16a76","type":"ffmpeg-conversion","z":"bcba5651.986b58","name":"WAV -> MP3","format":"mp3","audiochannels":"mono","x":540,"y":323,"wires":[["822342ea.b7682"]]},{"id":"afdd9648.168e28","type":"function","z":"bcba5651.986b58","name":"Response","func":"response = \"\";\nfor(x=0;x<msg.payload.output.text.length;x++)\n{\n    response += '<p><s>' + msg.payload.output.text[x] + '</s></p><break time=\"1000ms\"/>';\n}\nmsg.payload =response;\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":272,"wires":[["e0c4305d.f06bb"]]}]